@charset "UTF-8";

/*-------------
　  基本設定
-------------*/


html {
    font-size: 100%;
}

body {
    background:url(../images/sakura.jpg) center top repeat;
    background-color:rgba(255,255,255,0.5);
    background-blend-mode:soft-light;
    font-family: 'Nunito', sans-serif;
    color: #333;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    padding: 0 4%;
    margin: 0 auto;
}

.sec_title {
    margin: 20px 0 30px 0;
    text-align: center;
    text-decoration: underline;
}


/*-------------
　  header
-------------*/

#header {
    width: 100%;
    padding: 20px;
    background-color: #6ea7a1;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header nav ul {
    display: flex;
    justify-content: flex-end;
}

#header nav ul li a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    transition: all 0.5s ease;
    opacity: 0.7;
}

#header nav ul li a:hover {
    opacity: 1;
}

#hamburger {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    visibility: hidden;
}

#hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: all .5s ease;
}

#hamburger span:nth-child(2) {
    top: 30%;
}

#hamburger span:last-child {
    top: 60%;
}

#hamburger.open span:first-child {
    transform: rotate(45deg);
    top:48%;
}

#hamburger.open span:nth-child(2) {
    transform: rotate(45deg);
    top: 48%;
}

#hamburger.open span:last-child {
    transform: rotate(-45deg);
    top: 49%;
}

.gnav {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #000;
    z-index: 30;
}

.gnav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gnav ul li {
    margin: 10px 0;
}

.gnav ul li a {
    opacity: 0.7;
    transition: opacity 0.5s ease;
}

.gnav ul li a:hover {
    opacity: 1;
}



/*-------------
　mainvisual
-------------*/
*{
    margin: 0px;
    padding: 0px;
}

.context {
    width: 100%;
    position: absolute;
    top:50vh;
}

.context h1 {
text-align: center;
color: #fff;
font-size: 50px;
}


.area{
    background: #c3dcbe;  
    background: -webkit-linear-gradient(to left, #d0e39b, #15c783);  
    width: 100%;
    height:100vh; 
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


.title {
        font-family: 'Elsie Swash Caps', cursive;
        color: transparent;
        animation: blur 10s ease-out infinite;
        -webkit-animation: blur 10s ease-out infinite;
      }
      
      @keyframes blur {
        0%    {text-shadow:  0 0 100px #fff; opacity:0;}
        5%    {text-shadow:  0 0 90px #fff;}
        15%   {opacity: 1;}
        20%   {text-shadow:  0 0 0px #fff;}
        80%   {text-shadow:  0 0 0px #fff;}
        85%   {opacity: 1;}
        95%   {text-shadow:  0 0 90px #fff;}
        100%  {text-shadow:  0 0 100px #fff; opacity:0;}
      }
      
      @-webkit-keyframes blur {
        0%    {text-shadow:  0 0 100px #fff; opacity:0;}
        5%    {text-shadow:  0 0 90px #fff;}
        15%   {opacity: 1;}
        20%   {text-shadow:  0 0 0px #fff;}
        80%   {text-shadow:  0 0 0px #fff;}
        85%   {opacity: 1;}
        95%   {text-shadow:  0 0 90px #fff;}
        100%  {text-shadow:  0 0 100px #fff; opacity:0;}
      }

/*-------------
　   about
-------------*/
 
#about {
    margin-top: 100px;
}

.prof_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    width: 49%;
    text-align: center;
}

.profile img {
    width: 200px;
    border-radius: 50%;
}

.prof_text {
    width: 49%;
}
/*-------------
　  skills
-------------*/
#skills {
    margin-top: 100px;

}

.item_wrapper {
    display: flex;
    justify-content: space-between;
}

.item {
    width: 30%;
    text-align: center;
}

.item_title {
    margin-bottom: 10px;
}

.item img {
    width: 100px;
    margin-bottom: 20px;
}

.fadein {
    opacity : 0;
    transform: translateY(40px);
    transition: all 1s;
  }



/*-------------
　   works
-------------*/

#works {
    width: 100%;
    height: 800px;
    position: relative;
    text-align: center;
    margin-top: 100px;
}

.fade li {
    width: 70%;
    position: absolute;
    top: 60px;
    left: 15%;
    opacity: 0;
    animation: fade 15s infinite;
}

.fade li:nth-child(1) {
    animation-delay: 0s;
}

.fade li:nth-child(2) {
    animation-delay: 5s;
}

.fade li:nth-child(3) {
    animation-delay: 10s;
}

.fade li:nth-child(4) {
    animation-delay: 15s;
}

.fade li:nth-child(5) {
    animation-delay: 20s;
}

.fade li:nth-child(6) {
    animation-delay: 25s;
}

.fade li img {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.fade li::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0px 0px 20px 20px #fff;
  }

@keyframes fade {
    0% {
      opacity: 0;
    }
    15% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    45% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .btn {
      font-size: 1.2em;
      text-decoration: underline;
      position: absolute;
      bottom: -120px;
      right: 170px;
      color: #000;
      opacity: 0.6;
      transition: opacity 0.5s ease;
  }

  .btn:hover {
      opacity: 1;
  }

/*-------------
　   Contact
-------------*/

#contact {
    text-align: center;
    margin-top: 150px;
}

.sns {
    display: flex;
    justify-content: center;
}

.sns li a {
    color: black;
    display: inline-block;
    padding: 0 15px;
    opacity: 0.6;
    transition: opacity 0.5s ease;
}

.sns li a:hover {
    opacity: 1;
}

/*-------------
　  footer
-------------*/

#footer {
    margin-top: 100px;
    text-align: center;
}


/*-------------
　    SP
-------------*/

@media screen and (max-width: 900px) {

    .sec_title {
        margin-bottom: 40px;
    }


/*-------------
　  header
-------------*/


    #header {
        flex-direction: row-reverse;
        height: 80px;
    }

    .header_nav {
        display: none;
    }

    .gnav {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 100vh;
        opacity: 0.7;
        background-color: #000;
    }

    #hamburger {
        visibility: visible;
    }

/*-------------
　   about
-------------*/
.prof_flex {
   flex-direction: column;
}

.profile {
    width: 100%;
}

.prof_text {
    width: 100%;
    margin-top: 50px;
}

/*-------------
　   skills
-------------*/

.item_wrapper {
    flex-direction: column;
}

.item {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.item img {
    width: 100px;
    margin-bottom: 20px;
}

/*-------------
　   works
-------------*/

#works {
    width: 100%;
    height: 600px;
    margin-top: 60px;
}

.fade li {
    width: 100%;
    left: 0;
}

.fade li img {
    height: 600px;
}

.btn {
    right: 0;
}

/*-------------
　   contact
-------------*/

#contact {
    padding-top: 60px;
}

}